.profile {
	margin: 1.7em auto 2em auto;
	width:80%;
	max-width: 1020px;
	/**margin-left: auto;
	margin-right: auto;**/

}

#profilepic {
	float: left;
	width:240px;
	height: 240px;
	margin-bottom: 20px;
}

.right {
	width: 240px;
	height: 240px;
	margin-bottom: 20px;
	float:right;
}
.right h1{
	margin-bottom: 20px;
}
.right h2 {
	margin-bottom:30px;
}



.gallery {
	display: inline-block;
	padding: 10px;
	clear:both;
	width: 100%;
	height: 270px;
	background-color: #5C5C5C;
	
}
.gallery ul {
    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
}

.gallery li {
	display:inline;
}

